@import url('normalize.css');
@import url('base.css');

:root {
    --sky: #3162ce;
    --rock: #7e7e7e;
    --success: #338f47;
    --warning: #c7a924; /* TODO change it */
    --danger: #d45757;
    --info: #2c88bd;
    --void: #8c3bac;
    --dark: #303035;
}